* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #6daf17;
  width: 100%;
  padding: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.topnav a {
  font: 1em;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: white;
}

.topnav a:hover {
  color: #d84f19;
}

.nav-container {
  width: 100%;
}

.nav-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 1em;
}

.nav-container #navbar-logo {
  color: #6daf17;
  width: 6%;
}

.nav-container #navbar-logo {
  cursor: pointer;
}

.nav-container .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4em;
}

.nav-container .nav-menu .nav-links {
  color: black;
}

.nav-container .nav-menu .nav-links:hover, .nav-container .nav-menu .nav-links-active {
  color: #d84f19;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.nav-container .nav-menu .nav-links-btn {
  background-color: #d84f19;
  color: white;
  padding: .5em 2em;
  border-radius: 20px;
}

.nav-container .nav-menu .nav-links-btn:hover {
  background-color: #6daf17;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-container .menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: black;
}

.top-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0rem;
}

.top-image .background-image {
  width: 100%;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  z-index: -100;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.top-image .text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-image .text h1 {
  letter-spacing: 2px;
  word-spacing: 4px;
  width: 70%;
  font-size: 2.5em;
  color: white;
  padding: .5em;
}

h3 {
  color: #6daf17;
}

.enrollForm {
  margin: 2em 25em;
}

.enrollForm .formHeading {
  text-align: center;
  color: #6daf17;
  padding: 2em;
}

.enrollForm input {
  height: 3em;
  width: 100%;
}

.enrollForm .fcf-form-class {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  row-gap: .3em;
  justify-items: stretch;
}

.enrollForm .firstName {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.enrollForm .childAddress, .enrollForm .startdate, .enrollForm .guardianName, .enrollForm .gAddress, .enrollForm .message {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.enrollForm .childAddress input, .enrollForm .startdate input, .enrollForm .guardianName input, .enrollForm .gAddress input, .enrollForm .message input {
  width: 100%;
}

.enrollForm .childAddress textarea, .enrollForm .startdate textarea, .enrollForm .guardianName textarea, .enrollForm .gAddress textarea, .enrollForm .message textarea {
  width: 100%;
}

.enrollForm h3 {
  color: #d84f19;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.enrollForm button {
  background-color: #d84f19;
  color: white;
  padding: 1em 3em;
  border-radius: 10px;
}

.enrollForm button {
  background-color: #6daf17;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer {
  background-color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2em;
}

footer .contact-sub-sec {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .contact-sub-sec h3 {
  font: 1.5em;
  color: white;
  padding-bottom: 2em;
}

footer .contact-sub-sec a {
  text-decoration: none;
  text-align: center;
  font: 1em;
  color: white;
  padding-bottom: 1em;
}

footer .contact-sub-sec a:hover {
  color: #d84f19;
}

footer .contact-sub-sec p {
  text-align: center;
  font: 1em;
  color: white;
  line-height: 1rem;
}

footer .useful-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .useful-links h3 {
  text-align: center;
  font: 1.5em;
  color: white;
}

footer .useful-links a {
  font: 1em;
  color: white;
  padding: .5rem;
}

footer .useful-links a:hover {
  color: #d84f19;
}

footer .yelp {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .yelp h3 {
  font: 1.5em;
  color: white;
  padding-bottom: 2em;
}

footer .yelp p {
  font: 1em;
  color: white;
  padding-bottom: 1em;
}

footer .yelp img {
  width: 20%;
}

@media screen and (max-width: 1050px) {
  .nav-container {
    position: relative;
  }
  .nav-container .navbar {
    width: 100%;
  }
  .nav-container .navbar #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    -webkit-transform: translate(5%, 20%);
            transform: translate(5%, 20%);
  }
  .nav-container .navbar .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }
  .nav-container .navbar .menu-toggle .bar:hover {
    cursor: pointer;
  }
  .nav-container .navbar .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #b7b4b4;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 120px;
    left: -100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 100;
  }
  .nav-container .navbar .nav-menu .nav-links, .nav-container .navbar .nav-menu .nav-links-active {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }
  .nav-container .navbar .nav-menu .nav-links:hover {
    background-color: aliceblue;
    color: #d84f19;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .nav-container .navbar .nav-menu .nav-links-btn {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: #c4c4c4;
    color: black;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .nav-container .navbar .nav-menu .nav-links-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: #767474;
    color: white;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .nav-container .navbar .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 730px) {
  .topnav {
    width: 100%;
    padding: 1rem 0rem;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .contact-sub-sec {
    width: 100%;
    margin-bottom: 2rem;
  }
  footer .useful-links {
    width: 100%;
    margin-bottom: 2rem;
  }
  footer .yelp {
    width: 100%;
    margin-bottom: 2rem;
  }
  footer .yelp h3 {
    text-align: center;
    font: 1.5em;
    color: white;
  }
  footer .yelp p {
    text-align: center;
    font: 1em;
  }
  footer .yelp img {
    width: 50%;
  }
}
/*# sourceMappingURL=enroll.css.map */